jupyter
librosa==0.6.3
matplotlib
pandas
pytest
seaborn
tqdm
fastai==1.0.44
torch==1.0.1.post2
torchvision==0.2.2.post3
starlette
uvicorn
aiohttp
aiofiles
python-multipart
imageio
numpy
tornado==6.3.3
boto3
python-dotenv
pymongo
