html {
	height: 100%;
}

h1 {
	font-family: 'CircularStd-Bold';
	font-size:8vw;
	color: #B8D6E5;
	text-align: center;
}

a, a:hover, a:visited, a:link, a:active{
	color: #B8D6E5;
	text-decoration: none;
}

body {
	height: 100%;
    	margin: 0;
	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-image: linear-gradient(#02071D , #05113E);
	color: #E35E71;
	font-family: 'CircularStd-Bold';
}

.container {
	text-align: center;
	padding: 100px
}
.header {
	text-align: center;
}

.upload_ui {
	color: #BFE4F6;
}

.loading_ui {
	color: #BFE4F6;
}

.results {
	color: #E35E71;
}

.upload_sound {
	padding: 5%;
}

.record_sound {
	padding: 5%;
}

.or {
	padding: 5%;
	text-align: center;
	vertical-align: middle;
}

.credits {
	padding: 5%;
}

.clear {
	clear: both;
}

#json {
	color: #E35E71;
	font-family: 'CircularStd-Bold'
	width: 100%;
}

@font-face {
    font-family: CircularStd-Bold;
    font-weight: bold;
    src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}
