<http>
Keen

<form action="/upload" method="post" enctype="multipart/form-data">
    Select sound to upload:
    <input type="file" name="file">
    <input type="submit" value="Upload Sound">
</form>

<img src='gifs/airplane.gif'>
<img src='gifs/breathing.gif'>
<img src='gifs/brushing_teeth.gif'>
<img src='gifs/can_opening.gif'>
<img src='gifs/car_horn.gif'>
<img src='gifs/cat.gif'>
<img src='gifs/chainsaw.gif'>
<img src='gifs/chirping_birds.gif'>
<img src='gifs/church_bells.gif'>
<img src='gifs/clapping.gif'>
<img src='gifs/clock_alarm.gif'>
<img src='gifs/clock_tick.gif'>
<img src='gifs/coughing.gif'>
<img src='gifs/cow.gif'>
<img src='gifs/crackling_fire.gif'>
<img src='gifs/crickets.gif'>
<img src='gifs/crow.gif'>
<img src='gifs/crying_baby.gif'>
<img src='gifs/dog.gif'>
<img src='gifs/door_wood_knock.gif'>
<img src='gifs/drinking_sipping.gif'>
<img src='gifs/engine.gif'>
<img src='gifs/fireworks.gif'>
<img src='gifs/footsteps.gif'>
<img src='gifs/frog.gif'>
<img src='gifs/glass_breaking.gif'>
<img src='gifs/hand_saw.gif'>
<img src='gifs/helicopter.gif'>
<img src='gifs/hen.gif'>
<img src='gifs/insects.gif'>
<img src='gifs/keyboard_typing.gif'>
<img src='gifs/laughing.gif'>
<img src='gifs/mouse_click.gif'>
<img src='gifs/pig.gif'>
<img src='gifs/pouring_water.gif'>
<img src='gifs/rain.gif'>
<img src='gifs/rooster.gif'>
<img src='gifs/sea_waves.gif'>
<img src='gifs/sheep.gif'>
<img src='gifs/siren.gif'>
<img src='gifs/sneezing.gif'>
<img src='gifs/snoring.gif'>
<img src='gifs/thunderstorm.gif'>
<img src='gifs/toilet_flush.gif'>
<img src='gifs/train.gif'>
<img src='gifs/vacuum_cleaner.gif'>
<img src='gifs/wahsing_machine.gif'>
<img src='gifs/water_drops.gif'>
<img src='gifs/wind.gif'>
</http>
