<!doctype html>
<html lang="en">
	<body>
	<head>
		<title>Whisp - Environmental Sound Classifier</title>
    		<meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    		<link rel="stylesheet" href="static/css/whisp.css">

  	</head>
	
	<div class="container">

  		<div class="header">
			<h1>w h i s p</h1>
			<img src="static/svg/arrow.svg">
  		</div>

		<div class="clear"/> </div>

		<div class="upload_ui">
			<div class="upload_sound">
					Select sound to upload
					<br>
					<br>
				<input type="file" style="display:none" id="upload-file" />
				<img id="choose-button"src="static/svg/upload.svg">
			</div>

			<div class="or">
			or
			</div>
	  
			<div class="record_sound">
				Record your sound
				 <br>
				<br>

				<div id="recordButton">
					<img src="static/svg/record.svg">
				</div>
				<ol id="recordingsList"></ol>
			</div>
		</div>
		<div class="clear"/> </div>
		<div class="loading_ui">
			<br>
			<br>
			<img src="static/svg/upload.svg">
			<br>
			<br>
			<p>Listening...</p>
		</div>
		<div class="clear"/> </div>

		<div class="results"></div>


	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  	<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
  	<script src="static/js/whisp.js"></script>

	<script> $(".loading_ui").hide();</script>

	</body>
</html>
